.heading-primary{
  font-family: 'Sacramento', cursive;
}


/*--------------------------------
 Home
---------------------------------*/
body {
  background-color: #fadebb;
  color: #9c082d;
}

.page-header {
  background-image: url('top_image.JPG');
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 480px;
  background-size: auto 100%;
}

