.heading-primary {
  font-family: 'Sacramento', cursive;
}

/*--------------------------------
 Home
---------------------------------*/
body {
  font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "ŸàƒSƒVƒbƒN Medium",
    "Yu Gothic Medium", "ŸàƒSƒVƒbƒN‘Ì", YuGothic, "ƒƒCƒŠƒI", Meiryo, Osaka,
    "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", sans-serif;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: .03em;
  word-break: break-all;
  color: #333;
  background-color: #fadebb;
  color: #9c082d;
}

.page-header {
  background-image: url('top_image.JPG');
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 480px;
  background-size: auto 100%;
}

.anime_title_box {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}

.anime_title {
  font-size: 20px;
}