<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">

<!-- CSSの読込 -->
<link th:href="@{/css/home.css}" rel="stylesheet"></link>

<title>home-confirm</title>
</head>
<body>
  <div th:fragment="userDetail_contents">
    <div class="row">
      <div class="col-sm-5">
        <h1>検索結果</h1>
        <table class="table table-bordered"
          th:each="item : ${worksList}" th:object="${item}">
          <tr>
            <td>作品名</td>
            <td th:text="*{title}"></td>
          </tr>
          <tr>
            <td>リリース媒体</td>
            <td th:text="*{media}"></td>
          </tr>
          <tr>
            <td>オフィシャルサイト</td>
            <td><a th:href="*{official_site_url}"
              th:text="*{official_site_url}" target="_blank"></a></td>
          </tr>
          <tr>
            <td>画像</td>
            <td><img th:src="*{images.recommended_url}" alt="サンプル"
              width="120" height="90"></td>
          </tr>
          <tr>
            <td>見てる/見たい/見た人の数</td>
            <td th:text="*{watchers_count}"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>